<tr>
       <td>{{concepto}}<input type="hidden" name="gasto_concepto" value="{{concepto}}"></td>
       <td>{{aplica}}<input type="hidden" name="gasto_aplica"  value="{{gasto_aplica}}"></td>
       <td>{{cuotas}}<input type="hidden" name="gasto_cuota"   value="{{gasto_cuota}}"></td>
       <td>{{importe}}<input type="hidden" name="gasto_importe" value="{{importe}}"></td>
       <td><span class='btn btn-xs btn-danger btn-circle btn-del'><span class='fa fa-trash-o'></span></td>
</tr>
