<div class="row">
  <div class="col-md-12">
      <form class="form-vertical">
          <input id="id" name="id" type="hidden" class="" value="{{id}}" >

          <div class="form-group">
              <a href="ContratoView?id={{id}}" class="btn btn-primary btn-block">Ver contrato</a>
          </div>
          <div class="form-group">
              <a href="ContratoEdit?id={{id}}" class="btn btn-warning btn-block">Editar contrato</a>
          </div>
          <div class="form-group">
              <a href="ContratoEstado?id={{id}}" class="btn btn-warning btn-block">Cambiar estado</a>
          </div>
          <div class="form-group">
            <span class="btn btn-danger btn-block btn-del" data-index={{id}}>Eliminar contrato</span>
          </div>
        </form>
  </div>
</div>