{{#each records}}
  <tr class="">
    <td class="">{{id}}</td>
    <td class="">{{numero}}</td>
    <td class="">{{codigo}}</td>
    <td class="">{{nombre}}</td>
    <td class="">{{valor}}</td>
    <td class="">
      <span href="" data-index="{{id}}" data-numero={{numero}} data-codigo="{{codigo}} " data-nombre="{{nombre}}" data-valor="{{valor}}" class="btn btn-xs btn-circle  btn-warning  btn-edit"><span class="fa fa-edit fw"></span></span>
      <span href="" data-index="{{id}}" class="btn btn-xs btn-danger btn-circle btn-del"><span class="fa fa-trash-o fw"></span></span>
      </td>
  </tr>
{{/each}}